body {
  background-image: url("rosal.jpg");
  background-position: center center;
 
  background-attachment: fixed;
 border-style:solid;
 border-color: gray;
}

.ban {
   background-image: url("shelani.jpg");
  background-size: 100%;
   background-position:center center;
   background-repeat: no-repeat;
   
    background-color: white;
  
   text-align:center;
   border-style:outset;
   border-width:5px;
   border-color:black;
   margin-top:5px;
   margin-left:150px;
   margin-right:150px;
   color:gray;

 }

.sec {
   background-image: url("rar1.jpg");
  background-size: cover;
  background-position: center;
   background-color:white;
   text-align:left;
   border-style:outset;
   border-width:5px;
   border-color:black;	
   margin-left:150px;
   margin-right:150px;
 
}

img.bg {
  min-height: 80%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: none;
  left: none;
}

 img.bg {
    left: 50%;
    margin-left: -512px; 
  }

h1 {
  color:red;
}

a {
    text-decoration: solid;
    color:Black;
}

div.imge {
    margin: 15px; 
    padding: 25px;
    height: 185px;
    width: 150px;
    float: left;
    text-align: center;
    color:blue;
}	

div.imge imge {
    display: inline;
    margin: 5px;
    border: 25px solid #ffffff;
}

div.imge a:hover imge {
    border: 25px solid #0000ff;
}

div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}


